---
import { Icon } from "astro-icon/components";

import CustomImage from "../CustomImage.astro";
const { hero, values } = Astro.props;
---

<header class="full-width content-grid w-full h-full">
  <div class="full-width h-dvh max-h-[800px] sm:grid sm:grid-cols-2 grid-rows-1">
    <CustomImage
      classes="object-cover w-full h-96 sm:h-full"
      image={hero?.expand?.image}
      lazy={false}
    />
    <article
      class="w-full sm:h-full px-4 py-12 sm:px-12 bg-primary-lighter text-neutral-950 dark:bg-primary-dark dark:text-neutral-50 flex flex-col items-start justify-center gap-2 text-left"
    >
      <ul
        class="flex flex-row flex-wrap items-center sm:flex-row gap-4 py-2 px-4 rounded-full bg-primary-dark text-neutral-50 dark:bg-primary-main dark:text-neutral-950"
      >
        {
          values &&
            values.split(",").sort((a,b)=> a.localeCompare(b)).map((value: string) => (
              <li class="inline-flex items-center gap-1 px-0 text-base font-medium rounded-full w-fit">
                <Icon
                  name="mdi:check-circle"
                  aria-hidden="true"
                  focusable="false"
                  class="text-current"
                />
                {value}
              </li>
            ))
        }
      </ul>
      <h1
        class="w-full text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none"
      >
        {hero?.title}
      </h1>
      <p class="w-full max-w-prose text-base md:text-lg">
        {hero?.excerpt}
      </p>
    </article>
  </div>
</header>
<!-- <header
    class="content-grid mx-auto relative  py-16 px-4 lg:pt-0 lg:flex-col lg:pb-0"
>
    <div
        class="inset-y-0 top-0 right-0 z-0 w-full max-w-xl mx-auto md:m-0 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-7/12 lg:max-w-full lg:absolute xl:px-0 outline outline-1 outline-lime-500 breakout"
    >
        <CustomImage classes="object-contain w-full h-56 rounded lg:rounded-none md:h-96 lg:h-full" image={hero?.expand?.image} lazy={false}/>   
    </div>
    <div
        class="relative flex flex-col items-start w-full max-w-xl mx-auto md:m-0 lg:px-0 2xl:px-0 lg:max-w-screen-xl outline outline-1 outline-pink-500"
    >
        <div class="mb-4 py-8 sm:py-0 lg:my-40 lg:max-w-lg">
            <ul class="flex flex-row flex-wrap sm:flex-row gap-1">
                {
                    values &&
                        values.split(",").map((value: string) => (
                            <li class="inline-flex items-center gap-1 py-1 px-0 mb-2 mr-2 text-base font-medium rounded-full w-fit">
                               <Icon name="mdi:check-circle" aria-hidden="true" focusable="false" class="text-secondary-main"/>
                                {value}
                            </li>
                        ))
                }
            </ul>
            <h1
                class="mb-5 font-sans text-3xl font-bold text-primary-main tracking-tight sm:text-4xl sm:leading-none"
            >
                {hero?.title}
            </h1>
            <p class="pr-5 mb-5 text-base md:text-lg">
                {hero?.excerpt}
            </p>
        </div>
    </div>
</header> -->
