---
import { Image } from "astro:assets";
import SectionHeading from "./SectionHeading.astro";
import { getImageUrl } from "../pb";
import CustomImage from "./CustomImage.astro";

const { data, IframeSrc } = Astro.props;
const { title, excerpt, content, image, expand } = data;
---

<section class="container px-4 py-4 sm:py-12 scroll-m-24" id="contact">
    <SectionHeading sectionTitle={title} />
    <div class="sm:max-w-xl md:max-w-full lg:max-w-screen-xl">
        <div class="grid gap-10 lg:grid-cols-2">
            <div class="lg:pr-10">
                <article class="max-w-prose flex flex-col gap-3">
                    <p>{excerpt}</p>
                    <slot set:html={content} />
                </article>
            </div>
            <div class="max-w-prose">
                {
                    expand ? (
                        <CustomImage
                            image={expand?.page_image}
                            classes="object-cover w-full h-56 rounded shadow-lg sm:h-full"
                            lazy={true}
                        />
                    ) : (
                        <iframe
                            src={IframeSrc}
                            width="100%"
                            height="450"
                            style="border:0;"
                            allowfullscreen=""
                            title={title}
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                        />
                    )
                }
            </div>
        </div>
        {
            IframeSrc ? (
                expand?.page_image ? (
                    <div class="border my-8">
                        <iframe
                            src={IframeSrc}
                            width="100%"
                            height="300"
                            style="border:0;"
                            allowfullscreen=""
                            title={title}
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                        />
                    </div>
                ) : null
            ) : null
        }
    </div>
</section>